@{
    ViewBag.Title = "Contact";
}




<div class="single-contact">
    <i class="fa fa-map-marker"></i>
    <h5>Address</h5>
    <p>30/4 street, An Phu, VN</p>
</div>
<div class="single-contact">
    <i class="fa fa-phone"></i>
    <h5>Phone</h5>
    <p>(+84) 939073253</p>
</div>
<div class="single-contact">
    <i class="fa fa-envelope"></i>
    <h5>Email</h5>
    <p>fptbookstore@fpt.edu.vn</p>
</div>


