@model FPTBook.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Category</h4>
    <div class="col-lg-8">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Category Name</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">   @Html.DisplayFor(model => model.categoryName)</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Description</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">@Html.DisplayFor(model => model.description)</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row form-group ">
            <div class="col-sm-6 ">
                <button class="btn btn-primary d-block w-50" type="submit" value="Delete" style="background: var(--bs-yellow);border-color: var(--bs-white);">Delete</button>
            </div>
            <div class="col-sm-6 ">
                <a class="btn btn-primary d-block w-50" href="@Url.Action("Index","Categories")" style="background: var(--bs-white); border-color: var(--bs-yellow);color:black ">Cancel</a>
            </div>
        </div>
    }
</div>
